<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Post Comment</title>
</head>
<body>
<div id="comment-section">
    <h2>Comments</h2>
    <form th:action="@{/savecomment}" method="post">
        <input type="hidden" name="postId" th:value="${post.id}" />
        <input type="hidden" name="presentCommentId"  th:value="${presentCommentId}"/>
        <input type="text" name="commentText" th:value="${commentName}" placeholder="Add your comment here">
        <br />
        <button type="submit">Submit</button>
    </form>

    <div class="comment" th:each="comment:${post.getComments()}">
        <div>
            <p th:text="${comment.name}"></p>
            <input type="hidden" name="commentId" th:value="${comment.id}" />
            <input type="hidden" name="commentPostId" th:value="${comment.postId}" />
            <p th:text="${comment.email}"></p>
            <p th:text="${comment.comment}"></p>
            <a th:href="@{'/updatecomment/'+${comment.id} + '/' + ${comment.postId}}">
                <button>Update</button>
            </a>
            <a th:href="@{'/deletecomment/' + ${comment.id} + '/' + ${comment.postId}}">
                <button>Delete</button>
            </a>
        </div>
    </div>
</div>

</body>
</html>