<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Post</title>
    <style>
        body{
            justify-content:center;
            align-items:center;
            display:flex;
            flex-direction:column;
        }
        .post-container{
            margin-top:20px;
            border:2px solid black;
            text-align:center;
            width:75%;
        }
        a{
            margin:8px;
        }
        button{
            padding:10px;
            text-size:medium;
        }
        .update-delete{
            margin:10px;
        }
    </style>
</head>
<body>
<form class="post-container" th:action="@{/publishform}" th:object="${post}" method="GET">

    <h1 th:text="*{title}"></h1>
    <br />
    <span th:text="*{author}"></span>
    <span th:text="*{publishedAt}"></span>
    <br />
    <p th:text="*{content}"></p>
    <br />

</form>

<div class="update-delete">
    <a th:href="@{'/update/'+${post.id}}"><button>Update</button></a>

    <a th:href="@{'/delete/'+${post.id}}"><button>Delete</button></a>
    <a th:href="@{'/post/comment/'+${post.id}}"><button>Comment</button></a>
</div>

</body>
</html>