<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign up Page</title>
    <style>
        .signup{
            text-align:center;
            font-size:large;
            border:2px solid black;
            margin:50px;
            width:450px;
            height:250px;
        }
    </style>
</head>
<body>
    <form class="signup" th:action="@{/saveUser}" th:object="${user}"  >
        <h2> Sign up here.....</h2>
        <p>
            User name: <input type="text" name="name" th:field="*{name}">
        </p>
        <p>
            Email id: <input type="email" name="email" th:field="*{email}">
        </p>
        <p>
            Password: <input type="password" name="password" th:field="*{password}">
        </p>
        <input type="submit" value="Register">
    </form>
</body>
</html>